### Example user template template
### Example user template
composer.phar
/vendor/
/node_modules/
/bin/
/views/public/uploadFiles/photos/
.package-lock.json
.composer.lock
# IntelliJ project files
/.idea
composer.lock
